
table td {
    padding: 0.5rem 1rem; 
}

th {
    position: relative;
}

th:hover::after {
    content: attr(data-sort-icon);
    position: absolute;
    right: -20px;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}


